---
import '../styles/global.css';
import Menu from '../layouts/menu.astro';
import Footer from '../layouts/footer.astro';
---
    
<Menu />
<p class="p-10">
Dal 1988 nel campo dell’edilizia Geom. Valter Oliveri matura professionalità e competenza nel campo dell’edilizia; orientando il cliente a quelle che sono le scelte migliori per le loro necessità. <br>
La <strong>Vox Costruzioni S.A.S.</strong> è sempre al servizio dei suoi clienti. <br>
<br>
La costruzione e realizzazione di Ponti e gallerie su tutto il territorio ligure e del nord Italia perfette di avere una conoscenza ampia e dettagliata anche di ciò che riguarda la costruzione di grandi opere. <br>
<br>
Specializzati in lavori industriali e costruzione edile, ristrutturazione ed anche e soprattutto di Bio-edilizia; termine indicato per definire modalità costruttive e gestionali volte a preservare l’ambiente. <br>
<br>
Punti focali della Bio-edilizia: <br>
- scelta dei materiali che prevede l’utilizzo di determinati materiali a seconda del territorio in cui si opera; <br>
- Alta specializzazione di tutti i componenti che prendono parte all’opera, dall’architetto al costruttore, tutti devono essere competenti ed operativi al massimo delle loro capacità; <br>
- Ridurre significativamente il fabbisogno energetico per portare a termine l’opera <br>
<br>
Tutti questi elementi, integrati tra loro, ci annoverano nell’elenco dei primi operanti in questo settore. <br>
Competenza, serietà e puntualità sono i nostri focus.<br>
<br>
</p>
<Footer />

